.subnavigation{
    padding:5px 0px 5px 25px;
    cursor: pointer;
}

.subnavigation:hover{
    background-color: white;
}

.subnavigation:hover span{
    color: #013880;
}

.active__subnavigation {
    color:  #013880;
    background-color:  white;
}