.subnavigation{
    padding:5px 0px 5px 25px;
    cursor: pointer;
}

.subnavigation > a {
    color:white;
}

.subnavigation > a:hover {
    background-color: white;
    color: #013880;
}

.subnavigation:hover{
    background-color: white;
    color: #013880;
}