.body__component{
    background-color: white;
    width: calc(100vw - 350px);
    margin-left: 325px;
    box-sizing: border-box;
    min-height: calc(100vh - 40px);
    margin-top: 20px;
    padding: 20px;
    z-index: -1;
    position: absolute;
}

.body__component > p > img{
    width: 75%;
    display: block;
    margin: 0 auto;
}

table{
    width: 75%;
    margin: 0 auto;
}


@media (max-height: 600px) and (orientation: landscape) {
    .body__component{
        width: calc(100vw - 40px);
        margin-left:  20px;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .body__component{
        width: calc(100vw - 40px);
        margin-left:  20px;
    }
}